html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman";
}

.tombol {
width: 50px;
height: 50px;
background-color: black;
color: white;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
bottom: 10px;
right: 10px;
cursor: pointer;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: white;
}

header{
  background: #D2B48C;
  color: #fff;
  height: 90px;
  position: absolute;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.y{
  display: none;
}

.header-list.active{
  height: 450px
}

.header-list ul{
  display: flex;
}

.header-list.active ul{
  opacity: 1;
}

.header-list ul li a{
  display: block;
  transition: 0.2s;
}

.header-list ul li a:hover{
  color: black;
  background: white;
}

.header-list ul li a.active{
  color: black;
  background: white;
}

@media only screen and(max-width: 1320px){
  header{
    padding: 0 50px;
  }
}

@media only screen and(max-width: 1100px){
  header{
    padding: 0 30px;
  }
}

@media only screen and(max-width: 900px){
  .y{
    display: block;
    cursor: pointer;
  }
  .y .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px 0;
  }
  .header-list{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: black;
    transition: 0.2s;
    overflow: hidden;
  }
  .header-list ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .header-list ul li a{
    margin-bottom: 12px;
  }
}

.header-list li{
  float: right;
  padding: 33px 20px;
}

.header-logo{
  padding: 20px 40px;
  float: left;
  font-size: 40px;
}

.banner{
  text-align: center;
  background-image: url(gambar\ eka.png);
  padding: 400px 0 100px 0;
  background-size: cover;
  color: white;
}

.container{
  width: 1170px;
  margin: 0 auto;
}
  
.banner h1{
  font-size: 100px;
  opacity: 0.7;
  color : black;
}

.btn{
  padding : 12px 24px;
  border-radius: 4px;
  display: inline-block;
}
  
.email{
  background-color: #0f7f5d;
}
.facebook{
  background-color: #34559c;
  margin-right: 6px;
}

.content{
  margin-top: 100px;
  height: 300px;
}

.judul-content{
  font-size: 30px;
  border-bottom: 2px solid #000000;
  margin-bottom: 50px;
  padding-bottom: 15px;
}

.kelas{
  float: left;
  margin-right: 40px;
}

.kelas p{
  font-size: 24px;
  margin-top: 30px;
}

.contact{
  padding-top: 100px;
}

input, textarea{
  border: 2px solid black;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer{
  background-color: #D2B48C;
  padding: 40px;
  height: 100px;
}

.footer-logo{
  font-size: 40px;
  float: left;
}

.footer-list{
  font-size: 20px;
  float: right;
}

.footer-list li{
  padding-bottom: 25px;
}

